<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Page</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>게시판</h1>
<div>
    <table>
        <tr th:each="post : ${postPage.content}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.title}"></td>
            <td th:text="${post.writer}"></td>
            <td th:text="${post.createdAt}"></td>
        </tr>
    </table>
    <div class="pagination">
    <span th:if="${postPage.hasPrevious()}">
        <a th:href="@{/(page=${postPage.number - 1})}">이전</a>
    </span>

        <span th:each="pageNum : ${#numbers.sequence(0, postPage.totalPages - 1)}">
        <a th:href="@{/(page=${pageNum})}"
           th:text="${pageNum + 1}"
           th:class="${pageNum == postPage.number} ? 'active' : null"></a>
    </span>

        <span th:if="${postPage.hasNext()}">
        <a th:href="@{/(page=${postPage.number + 1})}">다음</a>
    </span>
    </div>
    <a href="/posts/create">게시글 작성</a>
</div>
<script type="module" th:src="@{/js/layout/header.js}"></script>
<script type="module" th:src="@{/js/auth/login.js}"></script>
</body>
</html>
